body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 1200px;
    min-height: 600px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 10px;
}

@media (max-width: 900px) {
    .container {
        width: 80%;
        min-height: 95%; 
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 80%;
        min-height: 90%; 
        padding: 10px;
    }
}